@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Stock Price Website</h1>
        <form>
            <input type="text" name="company" id="company-input" />
            <button onclick="getDailyStockPrice()">Submit</button>
        </form>
    </div>
    <script src="js/site.js"></script>
</body>