@page
@model IndexModel
@{
    ViewData["Title"] = "Stock Price Webpage";
}

<!DOCTYPE html>
<html>
<body>
    <div class="text-center mx-5" id="app">
        <div class="bg-faded p-1">
            <h1>
                Search Stock Prices:
            </h1>
            <h3 style="color: #778899">Current Time (EST): {{ time }}</h3>
        </div>
        <form>
            <div class="input-group input-group-lg mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Previous Market Day High and Low</span>
                </div>
                <input type="text" class="form-control" name="company" id="company-input" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark" v-on:click="getDailyStockPrice">Submit</button>
                </div>
            </div>
            <div class="badge badge-danger mb-4" style="float:left">
                <h3>Low: {{ low }} </h3>
            </div>
            <div class="badge badge-success mb-4" style="float:right">
                <h3>High: {{ high }} </h3>
            </div>
            <div class="input-group input-group-lg my-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Current Market Price</span>
                </div>
                <input type="text" class="form-control" name="current-price" id="current-price-input" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark" v-on:click="getCurrentStockPrice">Submit</button>
                </div>
            </div>
            <div class="badge badge-info">
                <h3>Current Price (Previous Day): {{ currentPrice }} </h3>
            </div>
        </form>
    </div>
    <script src="/lib/vue/vue.js"></script>
    <script src="js/site.js"></script>
</body>
</html>